<div class="post-bottom-full">
<div class="post-top-full"></div>
	<div class="post-wrap-full">

		<div class="post" style="padding: 15px; padding-top: 0;">

			<h2 class="entry-title"><%= link_to 'About Us', about_path %></h2>

			<div class="entry-content">
			<!--####################TOP###################-->
			<div class="about-us">
			<p>	
				<quote>"Necessity is the mother of invention."  </quote> This site was created out of necessity.  A doctor had restricted me to a particular diet.  I struggled to find consistent information on safe foods for my diet.
				
			</p>	
			<p>	
 			 Dietsmarts is a community driven site about diets and foods.  Please use this site to learn popular opinion and provide your own opinion. Which foods are good for your diet?
			</p>
			
			<!--################BOTTOM###################-->
			</div>

		</div><!-- end .post -->

	</div>

</div>
