<div class="post-bottom">
	<div class="post-top">
	</div>
	<div class="post-wrap">
			<!--####################TOP###################-->
			<div class="about-us">
				<p>	
					<quote>There is an old proverb that says "Necessity is the mother of invention."  </quote> This site was created out of necessity.  A doctor had restricted me to a particular diet.  I struggled to find consistent information on safe foods for my diet.
				
				</p>	
				<p>	
	 			 Dietsmarts is a community driven site about diets and foods.  Please use this site to learn popular opinion and provide your own opinion. Which foods are good for your diet?
				</p>
			</div>
			<!--################BOTTOM###################-->

	</div>

</div>
<div class="sidebar-wrap">
	<%= render :file => 'layouts/sidebar' %>
</div> 
