<div class="featured">
	<div class="cornerfix-top">
	</div>
	<div class="cornerfix-bottom">
	</div>
	
	<div class="showcase">
	
		<!--  START Showcase Large Images  -->
		<div class="iefix">
			<a href="#"><img class="largethumb" src="images/photos/showcase.3.jpg" width="637px" height="352px" alt="" /></a>
		</div>
		<div class="iefix">
			<a href="#"><img class="largethumb" src="images/photos/showcase.2.jpg" width="637px" height="352px" alt="" /></a>
		</div>
		<div class="iefix">
			<a href="#"><img class="largethumb" src="images/photos/showcase.1.jpg" width="637px" height="352px" alt="" /></a>
		</div>

	</div>
	
	<!--  END Showcase Large Images  -->

		<!--  START Showcase Right Column  -->
		
		<div class="showcase-bigcontrol">
			<div class="showcase-buttons">
				<h2 class="entry-title"><a href="#">Allergies ... </a></h2>
				<p class="entry-content" style="color: #919191;">
				In hac habitasse platea dictumst. Nullam ... </p>
		
				<div class="showcaseteaser">
				</div>
			
				<div class="showcaseteaserhover">
					<a href="#">
						<%=image_tag("photos/showcase.3.jpg",  :size => "112x114")%>
					</a>
				</div>
			</div>
		
		
			<div class="showcase-buttons">
				<h2 class="entry-title"><a href="#" title="Duis volutpat risus vel risus scelerisque">Diets ... </a></h2>
				<p class="entry-content" style="color: #919191;">
				Aliquam eu neque eget ... </p>
			
				<div class="showcaseteaser">
				</div>
				<div class="showcaseteaserhover">
					<a href="#"><%=image_tag("photos/showcase.2.jpg",  :size => "112x114")%>
				
					</a>
				</div>
			</div>
		
		
			<div class="showcase-buttons">
				<h2 class="entry-title"><a href="#" title="facilisis vel congue id">Foods ... </a></h2>
				<p class="entry-content" style="color: #919191;">
				In hac habitasse platea dictumst. ... </p>
			
				<div class="showcaseteaser">
				</div>
				<div class="showcaseteaserhover">
					<a href="#"><%=image_tag("photos/showcase.1.jpg",  :size => "112x114")%>
					</a>
				</div>
			</div>
		</div>
		
		
</div><!--#featured-->
		