<p id="notice"><%= notice %></p>
<%= link_to 'Back', foods_path %> 

<h2>  <%= @food.name.capitalize %></h2>
<%# link_to 'Edit', edit_food_path(@food) %> 
<%# link_to 'Destroy', @food, :confirm => 'Are you sure?', :method => :delete %>




<%# render :file => "diets/_table", :collection => @food.diets, :as  => :diets %>








<%# render :template => 'diets/index', :collection => @food.diets, :as => :diets %>
<%# render :template => 'comments/index', :collection => @diet.comments, :as  => :comments %>
