<div class="post-bottom">
	<div class="post-top">
	</div>
	<div class="post-wrap">

		<%= render :partial => 'table' %>				

		<div class="new-action">
			<%= link_to '+ New Diet', new_diet_path %>
		</div>
		
	</div>

</div>
