<div class="post-bottom">
	<div class="post-top">
	</div>
	<div class="post-wrap">


		<div class="post" style="padding: 15px; padding-top: 0;">

			<!--<h2 class="entry-title">Listing diets</h2>-->

			<div class="entry-content">
			<!--####################TOP###################-->

			<div class="row">
			
				<div class="column grid_2">
					<%= link_to 'Back', diets_path %>
				</div>
				
				<div class="column grid_8">				
					<h1>New Diet</h1>
					<%= render 'form' %>
				</div>

			</div><!--.row-->


			<!--################BOTTOM###################-->
			</div>

		</div><!-- end .post -->

	</div>

</div>
