<div class="homepage-top"></div>
<div class="homepage-bottom">
	<div class="homepage">



			<div class="homepage-post">

			<h2 class="entry-title"><%= link_to 'About Us', about_path %></h2>

			<a href="" title="About us" class="borderimg">
				<%= image_tag 'home-head-about.jpg'%>
			</a>

			<div class="entry-content">
	 			Which foods are good for your diet? Dietsmarts is a community site about diets and foods.  There is a lot of conflicting information about this.  Please use this site to learn popular opinion and provide your own opinion. 
					<a href="about">Read More</a>
			</div>

			</div>

			<div class="homepage-spacer"></div>



			<div class="homepage-post">

			<h2 class="entry-title"><a href="" title="Fullwidth">Fullwidth</a></h2>

			<a href="" title="Fullwidth" class="borderimg">
				<%= image_tag 'home-head-about.jpg'%>
			</a>

			<div class="entry-content">

			Mauris et fringilla tortor. Donec laoreet lectus quis quam  fringilla scelerisque. Phasellus ipsum justo, fringilla at volutpat ut,  tristique in est. Maecenas ut adipiscing dolor. Integer congue accumsan  nulla et consectetur. Sed convallis libero sed sem accumsan porta.  Quisque laoreet iaculis viverra. Proin in velit eget felis aliquet  bibendum ac vitae risus. Sed odio nulla, facilisis vel ... <a href="fullwidth/index.html#more">Read More</a>
			</div>

			</div>

			<div class="homepage-spacer"></div>



			<div class="homepage-post">

			<h2 class="entry-title"><a href="" title="Services">Services</a></h2>

			<a href="" title="Services" class="borderimg">
				<%= image_tag 'home-head-about.jpg'%>
			</a>

			<div class="entry-content">


			Pellentesque habitant morbi tristique senectus et netus et malesuada   fames ac turpis egestas. Nam ornare nisl a lectus lobortis feugiat.   Nullam justo lorem, vehicula sed ornare et, imperdiet eget nisi. Etiam   ante neque, sodales eget tincidunt at, vehicula at metus. Donec pharetra   mi feugiat diam gravida eleifend. Maecenas eu ipsum urna. Etiam luctus   eros in tellus lacinia gravida. Ut ... <a href="services/index.html#more">Read More</a>
			</div>

			</div>



	</div>
</div>