<dl id="login" class="social">
	<dt><h2>Please Sign in and join the community.</h2></dt>
 	<dd id="twitter"><%= link_to "Sign in with Twitter", "/auth/twitter" %></dd>
	<dd id="facebook"><%= link_to "Sign in with Facebook", "/auth/facebook" %></dd>
</dl>
